.card-glow {
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.7),
                0 0 30px rgba(247, 245, 245, 0.5);
    transition: box-shadow 0.4s ease;
}

.card-glow:hover {
    box-shadow: 0 0 25px rgba(253, 253, 255, 0.8),
                0 0 50px rgba(47, 0, 255, 0.6);
}

.nav-link {
    color: rgb(201, 7, 7);
    font-size: 20px;
}

.navbar {
    background-color: rgba(14, 14, 128, 0.856);
    padding: 1px;
}

:root {
    --primary-blue: #141899;
    --primary-danger: #e41313;
}

.btn-gradient {
    background: linear-gradient(90deg, var(--primary-blue) 0%, var(--primary-danger) 100%);
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 25px;
    font-weight: bold;
    transition: opacity 0.3s ease;
}

.btn-gradient:hover {
    opacity: 0.85;
    color: white;
}